In [27]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv("german_credit_data.csv")

In [29]:
data = data.drop('Unnamed: 0', axis=1)

In [30]:
data_1.head()

,Age,Credit amount,Duration,Risk,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving_little,...,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Job_0,Job_1,Job_2,Job_3
0,67,1169,6,good,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,22,5951,48,bad,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
2,49,2096,12,good,0,1,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
3,45,7882,42,good,0,1,1,0,0,1,...,0,0,1,0,0,0,0,0,1,0
4,53,4870,24,bad,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [31]:
list(data_1.columns)

['Age',
 'Credit amount',
 'Duration',
 'Risk',
 'Sex_female',
 'Sex_male',
 'Housing_free',
 'Housing_own',
 'Housing_rent',
 'Saving_little',
 'Saving_moderate',
 'Saving_quite rich',
 'Saving_rich',
 'Checking_little',
 'Checking_moderate',
 'Checking_rich',
 'Purpose_business',
 'Purpose_car',
 'Purpose_domestic appliances',
 'Purpose_education',
 'Purpose_furniture/equipment',
 'Purpose_radio/TV',
 'Purpose_repairs',
 'Purpose_vacation/others',
 'Job_0',
 'Job_1',
 'Job_2',
 'Job_3']

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
knn = KNeighborsClassifier(n_neighbors = 7)

In [222]:
X = data_1.iloc[:,[0,13,14,15]]
y = data_1.iloc[:,3]

In [223]:
X.shape , y.shape

((1000, 8), (1000,))

In [224]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2)

In [225]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=7, p=2,
           weights='uniform')

In [226]:
y_pred = knn.predict(X_test)
#print(y_pred)

In [227]:
# Accuracy score
from sklearn import metrics
print("Acurracy:", metrics.accuracy_score(y_test,y_pred))

Acurracy: 0.7

In [228]:
# Cross validation
from sklearn.model_selection import cross_val_score
cross_val_score(knn, X_train, y_train, cv=3, scoring="accuracy")

array([0.72284644, 0.7340824 , 0.67669173])

In [229]:
# Confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 17,  43],
       [ 17, 123]], dtype=int64)

In [230]:
# Precision score
from sklearn.metrics import precision_score, recall_score
print("Precision score =", precision_score(y_test, y_pred, average='micro'))
print("Recall score =", recall_score(y_test, y_pred, average='micro'))

Precision score = 0.7
Recall score = 0.7

In [231]:
# F1 score
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='micro')

0.7

In [100]:
data_1 = pd.concat([data, pd.get_dummies(data['Sex'], prefix='Sex'), pd.get_dummies(data['Housing'], prefix='Housing'), pd.get_dummies(data['Saving accounts'], prefix='Saving'), pd.get_dummies(data['Checking account'], prefix='Checking'), pd.get_dummies(data['Purpose'], prefix='Purpose'), pd.get_dummies(data['Job'], prefix='Job')], axis=1, sort=True)
data_1 = data_1.drop('Sex', axis=1)
data_1 = data_1.drop('Housing', axis=1)
data_1 = data_1.drop('Saving accounts', axis=1)
data_1 = data_1.drop('Checking account', axis=1)
data_1 = data_1.drop('Purpose', axis=1)
data_1 = data_1.drop('Job', axis=1)
data_1.head()

,Age,Credit amount,Duration,Risk,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Saving_little,...,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Job_0,Job_1,Job_2,Job_3
0,67,1169,6,good,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,22,5951,48,bad,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
2,49,2096,12,good,0,1,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
3,45,7882,42,good,0,1,1,0,0,1,...,0,0,1,0,0,0,0,0,1,0
4,53,4870,24,bad,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [101]:
corr_matrix = data_1.corr()
corr_matrix['Age'].sort_values(ascending=False)

Age                            1.000000
Housing_free                   0.253058
Sex_male                       0.161694
Job_3                          0.127605
Purpose_car                    0.099919
Purpose_education              0.060390
Job_0                          0.059954
Job_1                          0.043712
Purpose_vacation/others        0.042365
Purpose_repairs                0.039567
Checking_rich                  0.037504
Credit amount                  0.032716
Saving_rich                    0.032007
Saving_quite rich              0.030988
Housing_own                    0.006553
Purpose_business              -0.001772
Checking_little               -0.011162
Purpose_domestic appliances   -0.012562
Duration                      -0.036136
Saving_little                 -0.044084
Purpose_radio/TV              -0.046401
Saving_moderate               -0.075302
Checking_moderate             -0.078121
Purpose_furniture/equipment   -0.127657
Job_2                         -0.148283
Sex_female                    -0.161694
Housing_rent                  -0.212620
Name: Age, dtype: float64